.Chatform {
}

.chatform-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatform-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatform-message-text-field {
    flex: 1;
}

.chatform-buttons {
    height: fit-content;
}

.chatform-button-send {
    height: fit-content;
}